.temperature-converter-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.temperature-converter-page-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.temperature-converter-page-container h1 {
  margin: 50px 20px 20px 20px;
}

.temperature-converter-page-container label {
  border: 1px solid grey;
  background-color: rgb(237, 235, 235);
  border-radius: 4px;
  text-align: center;
  padding: 1px;
  height: 80px;
}

.temperature-converter-page-container input {
  width: 99%;
  height: 50px;
  margin-bottom: 5px;
  padding-top: 2px;
  border: none;
  border-bottom: 1px solid grey;
  text-align: center;
  font-size: 1.5rem;
  overflow: hidden;
}

.temperature-converter-page-container p {
  margin: 10px;
  font-size: 1.5rem;
}
